  <div id="content">
  <% unless @current_user==nil%>
  <ul>
  <p class="current-user">Logged in as: <%= @current_user.name%></p>
  <%= link_to new_user_post_path(user_id: @current_user.id),class:"new-post-btn" do%>
  <button>Create New Post</button>
  <%end%>
  <% @users.each do |user| %>
    <%= render "shared/usertile", user: user %>
  <% end %>
  </ul>
  <%else%>
  <h3>Add some user to the database</h3>
  <%end%>
  </div>
