<div class="user-detail">
<%= render "shared/usertile",user: @user  %>
<div class="user-bio">
<h3>Bio:</h3>
<%= @user.bio %>
</div>
<div class="posts">
<% @user.last_three_posts.each do |post| %>
<%= render 'shared/posttile', post: post %>
<% end %>
</div>

<%= link_to user_posts_path(@user.id),class: 'btn-link'  do%> 
<button class="btn-all-posts" type="button">
See all posts
</button>
<% end %>
</div>
