<div>
<li class="user-list-item">
    <img class="profile-photo" src=<%= user.photo%> alt="profile image">
    <div class="details">
    <h2 class="username"><%= user.name %></h2>
    <p class="posts-count">Number of posts: <%= user.posts.count %></p>
    </div>
    </li>
</div>