<div>
<%= render "shared/usertile",user: @user %>
<div class="posts">
<% @posts.each do |post|%>
  <%= render "shared/posttile", post:post %>
  <%= render "shared/comments",comments: post.last_five_comments %>
<% end %>
<button type="button">Pagination</button>
</div>
</div>