<div class="container">
<%= render "shared/posttile", post:@post %>
<%= render "shared/comments", comments: @comments %>
<%= render "shared/comments_form", url:user_post_comments_path(user_id:@user.id ,post_id:@post.id), locals:{post_id:@post.id}%>
</div>