<div class="container">
<%= render "shared/posttile", post:@post %>
<%= render "shared/comments", comments: @post.comments %>
<%= render "shared/comments_form", url:post_comments_path(post_id:@post.id), locals:{post_id:@post.id}%>
</div>