body {
  padding: 1rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000;
}

.btn-link {
  display: flex;
  justify-content: center;
}

.content {
  text-decoration: none;
}

.user-list-item {
  clear: both;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  border: 1px solid black;
  width: 70%;
  position: relative;
  padding: 0 2rem;
}

.profile-photo {
  border: 2px dotted black;
  height: 150px;
  width: 150px;
  margin: 1rem 0;
}

.username {
  font-size: 2rem;
}

.posts-count {
  float: right;
}

.user-detail {
  display: flex;
  flex-direction: column;
}

.user-bio {
  width: 80%;
  border: solid 1px black;
  margin: 0 auto;
  padding: 1rem 0;
}

.posts,
.container {
  width: 80%;
  margin: 0 auto;
}

.post-tile {
  border: solid 1px black;
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.comments-likes {
  align-self: flex-end;
}

.btn-all-posts,
.btn-pagination {
  padding: 1rem;
  cursor: pointer;
}

.btn-pagination {
  width: 10%;
  margin: 2rem auto;
}

.comments-container {
  border: solid 1px black;
  padding: 1rem;
}

.current-user{
  float: right;
}

.posts_form{
  clear: both;
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.posts_form>input{
  margin:1rem 0;
}

.posts_form>input:last-child{
  width: 10%;
}

.comment-form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.likes-btn{
  cursor: pointer;
}